
{% extends 'ADMCCoreBundle::layout.html.twig' %}


{% block body %}
    Hello World BIATCH
    <p>Affichage valeur {{ id }} </p>
{% endblock %}









{#

{% extends "::base.html.twig" %}

{% block title %}ADMCCoreBundle:Core:index{% endblock %}

{% block body %}
<h1>Welcome to the Core:index page</h1>
{% endblock %}

#}